.mySlides {
  display: none;
  width: 90%;
  margin: auto;
  object-fit: contain;
  height: 20rem;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}
.slider {
  width: 100%;
  position: relative;
}
.left-pointer {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(70%, -50%);
  cursor: pointer;
}
.right-pointer {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-70%, -50%);
  cursor: pointer;
}
.selector {
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid white;
  transition: all 250ms;
}
.selector:hover {
  background-color: white;
}
.dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.categories {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  gap: 2rem;
}
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--nav-color);
  transition: all 250ms;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.pablito {
  border-radius: 1.25rem;
}

.category-card:hover {
  transform: scale(1.1);
}
.category-card img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

@media screen and (max-width: 890px) {
  .categories-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .category-card img {
    width: 8rem;
    height: 8rem;
  }
}
